logging:
  level:
    root: INFO

spring:
  application:
    name: interview

  datasource:
    url: jdbc:h2:file:./data/interviewdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    url: jdbc:h2:file:./data/interviewdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    user: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console

app:
  document-bucket: documents
